<div class="relative flex min-h-screen flex-col items-center justify-center overflow-hidden py-6 sm:py-12 bg-white">
  <div class="max-w-xl px-5 text-center">
    <h2 class="mb-2 text-[42px] font-bold text-zinc-800">Check your inbox</h2>
    <div *ngIf="authService.userData as user" >
      <p class="mb-2 text-lg text-slate-700 text-center" >Welcome to SpudBomb! We’ve sent you a verification link to the email address: <span class="font-medium text-violet-500">{{user.email}}</span>.</p>
    </div>
    <a routerLink="/dashboard" class="mt-3 inline-block w-96 rounded bg-violet-600 px-5 py-3 font-medium text-white shadow-md shadow-violet-500/20 hover:bg-violet-700">Open the App →</a>
    <button class="mt-3 mr-1 inline-block w-92 rounded bg-red-300 px-5 py-3 font-medium text-white shadow-md shadow-red-500/20 hover:bg-red-500" (click)="authService.SendVerificationMail()">
      Resend Verification Email
    </button>
    <div class="mt-3 ml-1 inline-block w-92 rounded bg-indigo-300 px-5 py-3 font-medium text-white shadow-md shadow-indigo-500/20 hover:bg-indigo-500">
      <button class="redirect" routerLink="/sign-in"> Sign in</button>
    </div>
  </div>
</div>