<!DOCTYPE html>
<div class="min-h-full">
  <nav class="bg-indigo-400">
    <div class="mx-auto max-w-9xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="../../assets/spr_evil_kermit.png" alt="Your Company">
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <button type="button" (click)="retrieveData()" class="transition ease-in-out duration-500 hover:scale-110 bg-blue-700 hover:bg-blue-800 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Refresh Data</button>
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <!-- <button type="button" class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
              <span class="sr-only">View notifications</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
              </svg>
            </button>
          -->
            <!-- Profile dropdown -->
            <div class="relative ml-3" *ngIf="authService.userData as user">
              <div>
                <button type="button" (click)="modalItemComp.toggleView()" class="flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none hover:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                  <span class="sr-only">Open user menu</span>
                  <img class="mr-5 h-8 w-8 rounded-full img-thumbnail" [src]="(user.photoURL | async)"
                  alt="{{user.displayName}}">
                </button>
              </div>
              <div [@openClose]="modalItemComp.openCloseTrigger" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                <!-- Active: "bg-gray-100", Not Active: "" -->
                <a routerLink="/profile" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>

                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>

                <a (click)="authService.SignOut()" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <div>
      <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
          <h2 class="text-2xl font-bold tracking-tight text-gray-900">Thingamajigs</h2>
      <!--make popout screen for add item.-->
          <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <div class="group relative">
              <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md lg:aspect-none lg:h-80">
                <div class="mb-1">
                  <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                  <input type="text" id="title" [(ngModel)]="itemTitle" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Title" required>
                </div>
                <div class="mb-1">
                  <label for="descrip" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Short Description</label>
                  <input type="text" id="descrip" [(ngModel)]="itemDesc" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Description" required>
                </div>
                <div class="mb-1">
                  <label for="itemVal" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Item Value</label>
                  <input type="text" id="itemVal" [(ngModel)]="itemVal" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Value" required>
                </div>
                <!-- title.value, descrip.value, itemVal.value (saveData function)-->
                <button type="button" (click)="saveData(itemTitle, itemDesc, itemVal)" class="transition ease-in-out duration-500 hover:scale-110 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add Item</button>
              </div>
            </div>
              <div *ngFor="let item of items | async" class="group relative">
                      <div class="mb-1">
                        <input type="text" #title [value]="item.ItemTitle" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                      </div>
                      <div class="mb-1">
                        <input type="text" #descrip [value]="item.ItemDescription" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                      </div>
                      <div class="mb-1">
                        <input type="text" #value [value]="item.ItemValue" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                      </div>
                      <button type="button" (click)="updateItem(item.key, title.value, descrip.value, value.value)" class="mt-4 flex transition ease-in-out duration-500 hover:scale-110 w-full text-white bg-indigo-600 hover:bg-green-600 hover:ring-green-800 ring-4 space-y-4 outline-none ring-indigo-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:ring-primary-800">
                          <h3 class="text-lg font-medium text-white">
                              <span aria-hidden="true"></span>
                              Update
                          </h3>
                      </button>
                      <button type="button" (click)="deleteItem(item.key)" class="mt-4 flex transition ease-in-out duration-500 hover:scale-110 w-full text-white bg-rose-600 ring-4 space-y-4 outline-none ring-rose-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:ring-primary-800">
                          <h3 class="text-lg font-medium text-white">
                            <span aria-hidden="true"></span>
                            Delete
                          </h3>
                      </button>
              </div>
            <!-- More products... -->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
